<!DOCTYPE html>
<html lang="en">
<%- include('../public_partials/_header.ejs') %>

  <body class="bg-surface">
    <!--start wrapper-->
    <div class="wrapper">
      <header id="Loggedin">
        <%- include('../public_partials/_navbar.ejs') %>

          <%- include('../public_partials/_navLogged.ejs') %>
      </header>
      <!--start content-->
      <main class="authentication-content">
        <div class="container">
          <div class="mt-4">
            <div class="card rounded-0 overflow-hidden shadow-none border mb-5 mb-lg-0">
              <div class="row g-0">
                <div class="col-12 order-1 col-xl-8 d-flex align-items-center justify-content-center border-end">
                  <img src="/assets/images/alcoholic/alc-03.jpg" class="img-fluid" alt="" />
                </div>

                <div id="login-card" class="col-12 col-xl-4 order-xl-2">
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title">Sign In</h5>
                    <p class="card-text mb-4">
                      Thirsty for more drink! Signin to get yours now.
                    </p>
                    <span class="form-label text-danger" id="errorMsg">
                    </span>
                    <form class="form-body" autocomplete="off">
                      <div class="row g-3">
                        <div class="col-12">
                          <label for="inputEmailAddress" class="form-label">Email Address</label>
                          <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-3">
                              <i class="bi bi-envelope-fill"></i>
                            </div>
                            <input type="email" class="form-control radius-30 ps-5" id="inputEmailAddress"
                              placeholder="Email" maxlength="50" required />
                          </div>
                        </div>
                        <div class="col-12">
                          <label for="inputPassword" class="form-label">Enter Password</label>
                          <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-3">
                              <i class="bi bi-lock-fill"></i>
                            </div>
                            <input type="password" class="form-control radius-30 ps-5" id="inputPassword"
                              placeholder="Password" minlength="8" maxlength="16" required />
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="d-grid" id="signInParent">
                            <button id="signin" type="button" class="btn btn-primary radius-30">
                              Sign In
                            </button>
                          </div>
                        </div>
                        <div class="col-12 text-center">
                          <p class="mb-0">
                            Don't have an account yet?
                            <a href="/register">Sign up here</a>
                          </p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div id="otp-card" class="col-12 col-xl-4 order-xl-2" hidden>
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title">OTP</h5>
                    <span class="form-label text-success" id="successMsg">
                    </span>
                    <span class="form-label text-danger" id="errorMsgOTP"></span>
                    <form class="form-body">
                      <div class="row g-3">
                        <div class="col-12">
                          <label for="inputOTP" class="form-label">Enter OTP</label>
                          <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-3">
                              <i class="bi bi-lock-fill"></i>
                            </div>
                            <input type="password" class="form-control radius-30 ps-5" id="inputOTP"
                              placeholder="10 characters OTP" minlength="10" maxlength="10" required />
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button id="verify" type="button" class="btn btn-primary radius-30">
                              Verify OTP
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!--end page main-->

      <%- include('../public_partials/_footer.ejs') %>
    </div>
    <!--end wrapper-->

    <!-- Bootstrap bundle JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/pace.min.js"></script>
    <script type="module" src="/assets/js/module/auth/login.js"></script>
  </body>

</html>