<!DOCTYPE html>
<html lang="en">

<%- include('../public_partials/_header.ejs') %>


    <body class="bg-surface">
        <!--start wrapper-->
        <div class="wrapper">

            <header id="Loggedin">
                <%- include('../public_partials/_navbar.ejs') %>

                    <%- include('../public_partials/_navLogged.ejs') %>

            </header>
            <!--start content-->
            <main class="member-page-content">

                <div class="card">
                    <div class="card-header py-3">

                        <h1 class="h3 mb-5">Payment</h1>
                        <div class="row">
                            <!-- Left -->
                            <div class="col-lg-9">
                                <!-- Credit card -->
                                <div class="card=payment mb-3">
                                    <h2
                                        class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">

                                        <label class="form-label pt-1" for="payment1">
                                            Credit Card
                                        </label>
                                        <span>
                                            <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">
                                                <g fill-rule="nonzero" fill="#333840">
                                                    <path
                                                        d="M29.418 2.083c1.16 0 2.101.933 2.101 2.084v16.666c0 1.15-.94 2.084-2.1 2.084H4.202A2.092 2.092 0 0 1 2.1 20.833V4.167c0-1.15.941-2.084 2.102-2.084h25.215ZM4.203 0C1.882 0 0 1.865 0 4.167v16.666C0 23.135 1.882 25 4.203 25h25.215c2.321 0 4.203-1.865 4.203-4.167V4.167C33.62 1.865 31.739 0 29.418 0H4.203Z">
                                                    </path>
                                                    <path
                                                        d="M4.203 7.292c0-.576.47-1.042 1.05-1.042h4.203c.58 0 1.05.466 1.05 1.042v2.083c0 .575-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.467-1.05-1.042V7.292Zm0 6.25c0-.576.47-1.042 1.05-1.042H15.76c.58 0 1.05.466 1.05 1.042 0 .575-.47 1.041-1.05 1.041H5.253c-.58 0-1.05-.466-1.05-1.041Zm0 4.166c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.466-1.05-1.042Zm6.303 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.051.466 1.051 1.041 0 .576-.47 1.042-1.05 1.042h-2.102c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                    </h2>
                                    <div id="collapseCC" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionPayment">
                                        <div class="accordion-body">
                                            <p id="status" hidden class="text-primary">invalid card</p>
                                            <div class="mb-3">
                                                <label class="form-label">Card Number</label>
                                                <input type="text" class="form-control" placeholder="" minlength="16"
                                                    id="cardNo">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Name on card</label>
                                                        <input type="text" class="form-control" placeholder=""
                                                            id="cname" onkeydown="return /[a-z]/i.test(event.key)">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">Expiry date</label>
                                                        <input type="text" class="form-control" placeholder="MM/YY"
                                                            id="dte">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">CVV Code</label>
                                                        <input type="password" class="form-control" id="cvv"
                                                            placeholder="123" style="width: 80px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Right -->
                            <div class="col-lg-3">
                                <div class="card position-sticky top-0">
                                    <div class="p-3 bg-light bg-opacity-10">
                                        <h6 class="card-title mb-3">Order Summary</h6>
                                        <div class="d-flex justify-content-between mb-1 small" id="subtotal">
                                            <span>Subtotal</span> <span>$0.00</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1 small" id="fees">
                                            <span>Shipping</span> <span>$0.00</span>
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-between mb-4 small" id="Total">
                                            <span>TOTAL</span> <strong class="text-dark">$0.00</strong>
                                        </div>


                                        <button id="placeOrder" class="btn btn-primary w-100 mt-2" disabled>Place
                                            order</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </main>
            <!--end page main-->

            <%- include('../public_partials/_footer.ejs') %>


        </div>
        <!--end wrapper-->

        <!-- Bootstrap bundle JS -->
        <script src="/assets/js/bootstrap.bundle.min.js"></script>

        <!--plugins-->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/pace.min.js"></script>
        <script type="module" src="/assets/js/module/product/payment.js"></script>
    </body>

</html>