<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="/assets/images/logo-black.svg" class="logo-icon" alt="logo icon" />
    </div>
    <div>
      <h4 class="logo-text">GETDRUNK</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class="bi bi-list"></i></div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bi bi-grid-fill"></i></div>
        <div class="menu-title">Accounts</div>
      </a>
      <ul>
        <li>
          <a href="../admin/accounts"><i class="bi bi-circle"></i>Manage Account</a>
        </li>
        <li>
          <a href="../admin/createAccount"><i class="bi bi-circle"></i>Create Account</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bi bi-basket2-fill"></i>
        </div>
        <div class="menu-title">eCommerce</div>
      </a>
      <ul>
        <li> <a href="/admin/products"><i class="bi bi-circle"></i>Products</a>
        </li>

      </ul>
    </li>
  </ul>
  <!--end navigation-->
</aside>
<!--end sidebar -->